@use "../variables.scss" as *;

.technology {
    padding: 3rem;
    margin: 2rem 0 0;

    .tech-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 2rem;
    }

    .tech-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s ease;

        .icon {
            font-size: 5rem;
            // color: #333;
            margin-bottom: 0.5rem;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }

        &:hover {
            transform: translateY(-5px);

            .icon,
            p {
                color: $primary-light;
            }
        }
    }


    @media screen and (min-width: 576px) and (max-width: 767px) {
        padding: 2rem;

        .tech-grid {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }

    @media screen and (max-width: 575px) {
        padding: 2rem;

        .tech-grid {
            grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        }
    }
}